:root {
  --dark-green: #007D4C;
  --light-green: #A3CF60;
  --gray: #6D6E70;
  --light-gray: #9E9E9E;
  --light-red: #DE544F;
  --yellow: #FFCE00;
  --orange: #F68932;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}